.film-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 455px;
    height: 283px;
    border-radius: 0;
    margin-right: 10px;
    margin-top: 10px;
    box-shadow: 0px 4px 12px 0px #00000026;
}

.film-card_date {
    margin-bottom: 7px;
    font-size: 12px;
    font-weight: 300;
    color: #827E7E;
}

.film-card_title {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    width: 170px;
    height: 26px;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 10px;
}

.film-card_image {
    width: 183px;
    height: 281px;
    margin-right: 10px;
}

.film-card_genre {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    list-style-type: none;
    width: 175px;
    height: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.film-card_genre-item {
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    color: #000000A6;
    background-color: #FAFAFA;
    font-size: 12px;
    margin-right: 5px;
    padding-left: 4px;
    padding-top: 1px;
    padding-right: 3px;
    padding-bottom: 3px;
}

.film-card_overview {
    width: 228px;
    height: 128px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 22px;
}

.rating {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 12px;
    position: relative;
    padding: 5px;
    padding-left: 7px;
    padding-top: 6px;
    margin-top: 10px;
}

.red {
    border: 2px solid #E90000;
    left: -40px;
    bottom: 0;
}

.orange {
    border: 2px solid #E97E00;
    left: -40px;
    bottom: 0;
}

.yellow {
    border: 2px solid #E9D100;
    font-size: 12px;
    left: -45px;
    bottom: 0;
}

.green {
    border: 2px solid #66E900;
    left: -40px;
    bottom: 0;
}

.noOverview {
    width: 228px;
    height: 126px;
}

.noDate {
    width: 262px;
    height: 22px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .film-card {
        display: grid;
        grid-template-columns: 60px auto 30px;
        grid-template-rows: 35px 22px 15px 92px 46px;
        gap: 5px;
        width: 388px;
        height: 245px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
    }

    .film-card_image {
        grid-column-start: 1;
        grid-row-start: 1;
        width: 60px;
        height: 91px;
        margin-right: 10px;
        padding-left: 10px;
        padding-top: 6px;
    }

    .film-card_title {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: start;
        align-self: end;
        padding-left: 13px;
        margin-top: 10px;
    }

    .film-card_date {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding-left: 13px;
        padding-top: 10px;
        align-self: end;
    }

    .film-card_genre {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        padding-left: 13px;
    }

    .film-card_overview {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
        width: auto;
        height: 92px;
        padding-top: 10px;
        padding-left: 10px;
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 22px;
    }

    .film-card_rate {
        grid-column: 1 / 4;
        grid-row: 5 / 6;
        justify-self: end;
        margin-right: 10px;
    }

    .rating {
        grid-column-start: 3;
        grid-row-start: 1;
        justify-self: start;
        margin-left: 25px;
        margin-top: 9px;
    }
}